
body{
    color: white;
    font-weight: bold;
    background: url("../Img/bg.jpg");
    font-family: 'Fjalla One', sans-serif;

}
.logo{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;
}
.mid{
    display: block;
    width: 33%;
    margin: 20px auto;

}
.rightnav{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    padding:15px 25px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover , .navbar li a.active{
text-decoration: underline ;
color: gray;
}
.logo img{
    display: inline-block;
    width: 84px;
    margin: auto;
    border-radius: 50%;
    height: 70px;
}
.logo div{
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
    margin: 0px 10px;
    padding: 10px 35px;
    border: 3px solid blue;
    cursor: pointer;
    font-size: medium;
    border-radius: 4px;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 1s ease-out;
}
.enquiry{
    position: absolute;
    height: 400px;
    width: 40%;
    top: 200px;
    left: 20px;

}
.items{
    margin:2px 4px;
    padding: 4px;
    text-align: center;
}
.items input{
    /* border-radius: 4px; */
    width: 92%;
    height: 30px;
    border-radius: 4px;
    font-size: large;
    font-family: 'Fjalla One', sans-serif;
}
#submitbtn{
    margin-left: 25px;
}
footer{
    position: absolute;
    display:block;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;

}